dm_control2gym==0.0.2
gym==0.17.2
gym_minigrid==1.0.2
h5py==3.1.0
matplotlib==3.2.2
numpy==1.22.2
pyflann==1.6.14
pyflann_py3==0.1.0
roboschool==1.0.49
scikit_learn==1.0.2
stable_baselines3==0.10.0
tensorboard_logger==0.1.0
torch==1.7.1
tqdm==4.62.3